{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
	<div class="row">
		<div class="col">
			<h1>{{ product.name }}</h1>
			<h4 style="padding-left: 10px;">
				<a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
			</h4>
		<img class="mt-3 mb-3" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">

		</div>
		<div class="col">
			<h1 class="price">${{ product.price }}</h1>
		<form action="{% url 'cart:cart_add' product.id %}" class="mt-3" method="post">
			{% csrf_token %}
			{{ cart_product_form }}
			<br>
			<input class="btn btn-primary mt-2" type="submit" value="{% trans 'Add to cart' %}">
		</form>

		</div>
	</div>
	{{ product.description|linebreaks }}
	</div>
{% endblock %}