body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main {
	display: flex;
}
.languages{
    margin-right: 5em;
}
.languages a{
    margin-right: 20px;
}
.cart a{
    color: white;
}
.item {
	text-align: center;
}
.item img{
	width: 200px;
	height: 200px;
}
a{
    text-decoration: none;
}
.navbar a{
	color: white;
}
.navbar a:hover{
    color: lightgray;
}
.dropdown a{
    color: #000;
}
.dropdown a:hover{
    color: #000;
}
.selected a{
	color: gray;
}
.selected{
	color: black;
}
.product-detail img{
	max-height: 400px;
	max-width: 400px;
}
.field{
	background-color: lightgray;
	width: 30%;
	height: 50px;
	border-radius: 3%;
	padding-left: 15px;
	margin-bottom: 15px;
}
.textinput{
    margin-bottom: 15px;
}
.card img{
    max-width: 100%;
}
.card-title{
    color: black;
}
.price{
    color: green;
    font-size: 62px;
}
td{
    font-size: 35px;
}