body{
	padding: 15px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main {
	display: flex;
}
.item {
	text-align: center;
}
.item img{
	width: 200px;
	height: 200px;
}
a{
	text-decoration: none;
}
.selected{
	color: gray;
}
.product-detail img{
	max-height: 400px;
	max-width: 400px;
}
.field{
	background-color: lightgray;
	width: 30%;
	height: 50px;
	border-radius: 3%;
}